/* ==========================================================================
   Flexible layout
   ========================================================================== */

/* Main layout */
.wrapper{
	max-width: 960px;
	width: 90%;
}

/* Header */
.header-container .title{ width: 31.25%; float: left;} /* 300/960 */
.header-container nav{ width: 68.75%; float: right} /* 660/960 */


/* ==========================================================================
   My grid
   ========================================================================== */

.row{
	margin-right: -3.125%;
	clear: both;
	display: block;
}
.col-2, .col-3, .col-4{
	margin-right: 3.125%;
	float: left;
}
.col-2{
	width: 46.875%; /* 465/960 */
	
}
.col-3{
	width: 30.20833333333333%; /* 300/960 */
}
.col-4{
	width: 21.875%; /* 217/960 */
}

/* Flexible media */

img, embed, object, video {
    max-width: 100%;
    overflow: hidden;
    height: auto;
}


